services:

  bot:
    build: .
    restart: unless-stopped
    env_file: .env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - vpnbot

  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB:       vpnbot
      POSTGRES_USER:     vpnbot
      POSTGRES_PASSWORD: 22032008Jafar
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U vpnbot"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - vpnbot

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - vpnbot

volumes:
  pgdata:
  redisdata:

networks:
  vpnbot:
    driver: bridge